# Data Input and Output

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [33]:
df = pd.read_csv('../../WorkingD/empdata.csv')
df

,Employee_ID,FirstName,LastName,Education,Occupation,YearlyIncome,Sales
0,1,John,Yang,Bachelors,Professional,90000,3578.2700
1,2,Rob,Johnson,Bachelors,Management,80000,3399.9900
2,3,Ruben,Torres,Partial College,Skilled Manual,50000,699.0982
3,4,Christy,Zhu,Bachelors,Professional,80000,3078.2700
4,5,Rob,Huang,High School,Skilled Manual,60000,2319.9900
5,6,John,Ruiz,Bachelors,Professional,70000,539.9900
6,7,John,Miller,Masters Degree,Management,80000,2320.4900
7,8,Christy,Mehta,Partial High School,Clerical,50000,24.9900
8,9,Rob,Verhoff,Partial High School,Clerical,45000,24.9900
9,10,Christy,Carlson,Graduate Degree,Management,70000,2234.9900
10,11,Gail,Erickson,Education,Professional,90000,4319.9900
11,12,Barry,Johnson,Education,Management,80000,4968.5900
12,13,Peter,Krebs,Graduate Degree,Clerical,50000,59.5300
13,14,Greg,Alderson,Partial High School,Clerical,45000,23.5000

In [ ]:
pd.read_csv("atin.txt", sep=" ")

### CSV Output

In [4]:
df.to_csv('example.csv',index=False)

In [19]:
!pip install xlrd --user

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: xlrd in /home/u1/.local/lib/python3.7/site-packages (1.2.0)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [24]:
pd.read_excel('../../WorkingD/EmployeeSales.xlsx',sheet_name='Sheet1')

,FirstName,LastName,Education,Occupation,YearlyIncome,Sales
0,John,Yang,Bachelors,Professional,90000,3578.2700
1,Rob,Johnson,Bachelors,Management,80000,3399.9900
2,Ruben,Torres,Partial College,Skilled Manual,50000,699.0982
3,Christy,Zhu,Bachelors,Professional,80000,3078.2700
4,Rob,Huang,High School,Skilled Manual,60000,2319.9900
5,John,Ruiz,Bachelors,Professional,70000,539.9900
6,John,Miller,Masters Degree,Management,80000,2320.4900
7,Christy,Mehta,Partial High School,Clerical,50000,24.9900
8,Rob,Verhoff,Partial High School,Clerical,45000,24.9900
9,Christy,Carlson,Graduate Degree,Management,70000,2234.9900
10,Gail,Erickson,Education,Professional,90000,4319.9900
11,Barry,Johnson,Education,Management,80000,4968.5900
12,Peter,Krebs,Graduate Degree,Clerical,50000,59.5300
13,Greg,Alderson,Partial High School,Clerical,45000,23.5000

### Excel Output

In [0]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

In [31]:
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.4.2)
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in /home/u1/.local/lib/python3.7/site-packages (1.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.14.0)
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: BeautifulSoup4 in /home/u1/.local/lib/python3.7/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /home/u1/.local/lib/python3.7/site-packages (from BeautifulSoup4) (2.2.1)

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [32]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: html5lib not found, please install it

In [ ]:
df[0]

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('sqlite:///:memory:')

In [17]:
engine.execute()

TypeError: execute() missing 1 required positional argument: 'statement'

In [13]:
df.to_sql('data', engine)

In [18]:
help(engine)

Help on Engine in module sqlalchemy.engine.base object:

class Engine(sqlalchemy.engine.interfaces.Connectable, sqlalchemy.log.Identified)
 |  Engine(pool, dialect, url, logging_name=None, echo=None, proxy=None, execution_options=None, hide_parameters=False)
 |
 |  Connects a :class:`~sqlalchemy.pool.Pool` and
 |  :class:`~sqlalchemy.engine.interfaces.Dialect` together to provide a
 |  source of database connectivity and behavior.
 |
 |  An :class:`.Engine` object is instantiated publicly using the
 |  :func:`~sqlalchemy.create_engine` function.
 |
 |  .. seealso::
 |
 |      :doc:`/core/engines`
 |
 |      :ref:`connections_toplevel`
 |
 |  Method resolution order:
 |      Engine
 |      sqlalchemy.engine.interfaces.Connectable
 |      sqlalchemy.log.Identified
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, pool, dialect, url, logging_name=None, echo=None, proxy=None, execution_options=None, hide_parameters=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  begin(self, close_with_result=False)
 |      Return a context manager delivering a :class:`.Connection`
 |      with a :class:`.Transaction` established.
 |
 |      E.g.::
 |
 |          with engine.begin() as conn:
 |              conn.execute("insert into table (x, y, z) values (1, 2, 3)")
 |              conn.execute("my_special_procedure(5)")
 |
 |      Upon successful operation, the :class:`.Transaction`
 |      is committed.  If an error is raised, the :class:`.Transaction`
 |      is rolled back.
 |
 |      The ``close_with_result`` flag is normally ``False``, and indicates
 |      that the :class:`.Connection` will be closed when the operation
 |      is complete.   When set to ``True``, it indicates the
 |      :class:`.Connection` is in "single use" mode, where the
 |      :class:`.ResultProxy` returned by the first call to
 |      :meth:`.Connection.execute` will close the :class:`.Connection` when
 |      that :class:`.ResultProxy` has exhausted all result rows.
 |
 |      .. seealso::
 |
 |          :meth:`.Engine.connect` - procure a :class:`.Connection` from
 |          an :class:`.Engine`.
 |
 |          :meth:`.Connection.begin` - start a :class:`.Transaction`
 |          for a particular :class:`.Connection`.
 |
 |  connect(self, **kwargs)
 |      Return a new :class:`.Connection` object.
 |
 |      The :class:`.Connection` object is a facade that uses a DBAPI
 |      connection internally in order to communicate with the database.  This
 |      connection is procured from the connection-holding :class:`.Pool`
 |      referenced by this :class:`.Engine`. When the
 |      :meth:`~.Connection.close` method of the :class:`.Connection` object
 |      is called, the underlying DBAPI connection is then returned to the
 |      connection pool, where it may be used again in a subsequent call to
 |      :meth:`~.Engine.connect`.
 |
 |  contextual_connect(self, close_with_result=False, **kwargs)
 |      Return a :class:`.Connection` object which may be part of some
 |      ongoing context.
 |
 |      .. deprecated:: 1.3 The :meth:`.Engine.contextual_connect` method is deprecated.  This method is an artifact of the threadlocal engine strategy which is also to be deprecated.   For explicit connections from an :class:`.Engine`, use the :meth:`.Engine.connect` method.
 |
 |      By default, this method does the same thing as :meth:`.Engine.connect`.
 |      Subclasses of :class:`.Engine` may override this method
 |      to provide contextual behavior.
 |
 |      :param close_with_result: When True, the first :class:`.ResultProxy`
 |        created by the :class:`.Connection` will call the
 |        :meth:`.Connection.close` method of that connection as soon as any
 |        pending result rows are exhausted. This is used to supply the
 |        "connectionless execution" behavior provided by the
 |        :meth:`.Engine.execute` method.
 |
 |  dispose(self)
 |      Dispose of the connection pool used by this :class:`.Engine`.
 |
 |      This has the effect of fully closing all **currently checked in**
 |      database connections.  Connections that are still checked out
 |      will **not** be closed, however they will no longer be associated
 |      with this :class:`.Engine`, so when they are closed individually,
 |      eventually the :class:`.Pool` which they are associated with will
 |      be garbage collected and they will be closed out fully, if
 |      not already closed on checkin.
 |
 |      A new connection pool is created immediately after the old one has
 |      been disposed.   This new pool, like all SQLAlchemy connection pools,
 |      does not make any actual connections to the database until one is
 |      first requested, so as long as the :class:`.Engine` isn't used again,
 |      no new connections will be made.
 |
 |      .. seealso::
 |
 |          :ref:`engine_disposal`
 |
 |  execute(self, statement, *multiparams, **params)
 |      Executes the given construct and returns a :class:`.ResultProxy`.
 |
 |      The arguments are the same as those used by
 |      :meth:`.Connection.execute`.
 |
 |      Here, a :class:`.Connection` is acquired using the
 |      :meth:`~.Engine.contextual_connect` method, and the statement executed
 |      with that connection. The returned :class:`.ResultProxy` is flagged
 |      such that when the :class:`.ResultProxy` is exhausted and its
 |      underlying cursor is closed, the :class:`.Connection` created here
 |      will also be closed, which allows its associated DBAPI connection
 |      resource to be returned to the connection pool.
 |
 |  execution_options(self, **opt)
 |      Return a new :class:`.Engine` that will provide
 |      :class:`.Connection` objects with the given execution options.
 |
 |      The returned :class:`.Engine` remains related to the original
 |      :class:`.Engine` in that it shares the same connection pool and
 |      other state:
 |
 |      * The :class:`.Pool` used by the new :class:`.Engine` is the
 |        same instance.  The :meth:`.Engine.dispose` method will replace
 |        the connection pool instance for the parent engine as well
 |        as this one.
 |      * Event listeners are "cascaded" - meaning, the new :class:`.Engine`
 |        inherits the events of the parent, and new events can be associated
 |        with the new :class:`.Engine` individually.
 |      * The logging configuration and logging_name is copied from the parent
 |        :class:`.Engine`.
 |
 |      The intent of the :meth:`.Engine.execution_options` method is
 |      to implement "sharding" schemes where multiple :class:`.Engine`
 |      objects refer to the same connection pool, but are differentiated
 |      by options that would be consumed by a custom event::
 |
 |          primary_engine = create_engine("mysql://")
 |          shard1 = primary_engine.execution_options(shard_id="shard1")
 |          shard2 = primary_engine.execution_options(shard_id="shard2")
 |
 |      Above, the ``shard1`` engine serves as a factory for
 |      :class:`.Connection` objects that will contain the execution option
 |      ``shard_id=shard1``, and ``shard2`` will produce :class:`.Connection`
 |      objects that contain the execution option ``shard_id=shard2``.
 |
 |      An event handler can consume the above execution option to perform
 |      a schema switch or other operation, given a connection.  Below
 |      we emit a MySQL ``use`` statement to switch databases, at the same
 |      time keeping track of which database we've established using the
 |      :attr:`.Connection.info` dictionary, which gives us a persistent
 |      storage space that follows the DBAPI connection::
 |
 |          from sqlalchemy import event
 |          from sqlalchemy.engine import Engine
 |
 |          shards = {"default": "base", shard_1: "db1", "shard_2": "db2"}
 |
 |          @event.listens_for(Engine, "before_cursor_execute")
 |          def _switch_shard(conn, cursor, stmt,
 |                  params, context, executemany):
 |              shard_id = conn._execution_options.get('shard_id', "default")
 |              current_shard = conn.info.get("current_shard", None)
 |
 |              if current_shard != shard_id:
 |                  cursor.execute("use %s" % shards[shard_id])
 |                  conn.info["current_shard"] = shard_id
 |
 |      .. seealso::
 |
 |          :meth:`.Connection.execution_options` - update execution options
 |          on a :class:`.Connection` object.
 |
 |          :meth:`.Engine.update_execution_options` - update the execution
 |          options for a given :class:`.Engine` in place.
 |
 |          :meth:`.Engine.get_execution_options`
 |
 |  get_execution_options(self)
 |      Get the non-SQL options which will take effect during execution.
 |
 |      .. versionadded: 1.3
 |
 |      .. seealso::
 |
 |          :meth:`.Engine.execution_options`
 |
 |  has_table(self, table_name, schema=None)
 |      Return True if the given backend has a table of the given name.
 |
 |      .. seealso::
 |
 |          :ref:`metadata_reflection_inspector` - detailed schema inspection
 |          using the :class:`.Inspector` interface.
 |
 |          :class:`.quoted_name` - used to pass quoting information along
 |          with a schema identifier.
 |
 |  raw_connection(self, _connection=None)
 |      Return a "raw" DBAPI connection from the connection pool.
 |
 |      The returned object is a proxied version of the DBAPI
 |      connection object used by the underlying driver in use.
 |      The object will have all the same behavior as the real DBAPI
 |      connection, except that its ``close()`` method will result in the
 |      connection being returned to the pool, rather than being closed
 |      for real.
 |
 |      This method provides direct DBAPI connection access for
 |      special situations when the API provided by :class:`.Connection`
 |      is not needed.   When a :class:`.Connection` object is already
 |      present, the DBAPI connection is available using
 |      the :attr:`.Connection.connection` accessor.
 |
 |      .. seealso::
 |
 |          :ref:`dbapi_connections`
 |
 |  run_callable(self, callable_, *args, **kwargs)
 |      Given a callable object or function, execute it, passing
 |      a :class:`.Connection` as the first argument.
 |
 |      The given \*args and \**kwargs are passed subsequent
 |      to the :class:`.Connection` argument.
 |
 |      This function, along with :meth:`.Connection.run_callable`,
 |      allows a function to be run with a :class:`.Connection`
 |      or :class:`.Engine` object without the need to know
 |      which one is being dealt with.
 |
 |  scalar(self, statement, *multiparams, **params)
 |      Executes and returns the first column of the first row.
 |
 |      The underlying cursor is closed after execution.
 |
 |  table_names(self, schema=None, connection=None)
 |      Return a list of all table names available in the database.
 |
 |      :param schema: Optional, retrieve names from a non-default schema.
 |
 |      :param connection: Optional, use a specified connection. Default is
 |        the ``contextual_connect`` for this ``Engine``.
 |
 |  transaction(self, callable_, *args, **kwargs)
 |      Execute the given function within a transaction boundary.
 |
 |      The function is passed a :class:`.Connection` newly procured
 |      from :meth:`.Engine.contextual_connect` as the first argument,
 |      followed by the given \*args and \**kwargs.
 |
 |      e.g.::
 |
 |          def do_something(conn, x, y):
 |              conn.execute("some statement", {'x':x, 'y':y})
 |
 |          engine.transaction(do_something, 5, 10)
 |
 |      The operations inside the function are all invoked within the
 |      context of a single :class:`.Transaction`.
 |      Upon success, the transaction is committed.  If an
 |      exception is raised, the transaction is rolled back
 |      before propagating the exception.
 |
 |      .. note::
 |
 |         The :meth:`.transaction` method is superseded by
 |         the usage of the Python ``with:`` statement, which can
 |         be used with :meth:`.Engine.begin`::
 |
 |             with engine.begin() as conn:
 |                 conn.execute("some statement", {'x':5, 'y':10})
 |
 |      .. seealso::
 |
 |          :meth:`.Engine.begin` - engine-level transactional
 |          context
 |
 |          :meth:`.Connection.transaction` - connection-level version of
 |          :meth:`.Engine.transaction`
 |
 |  update_execution_options(self, **opt)
 |      Update the default execution_options dictionary
 |      of this :class:`.Engine`.
 |
 |      The given keys/values in \**opt are added to the
 |      default execution options that will be used for
 |      all connections.  The initial contents of this dictionary
 |      can be sent via the ``execution_options`` parameter
 |      to :func:`.create_engine`.
 |
 |      .. seealso::
 |
 |          :meth:`.Connection.execution_options`
 |
 |          :meth:`.Engine.execution_options`
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  driver
 |      Driver name of the :class:`~sqlalchemy.engine.interfaces.Dialect`
 |      in use by this :class:`Engine`.
 |
 |  echo
 |      When ``True``, enable log output for this element.
 |
 |      This has the effect of setting the Python logging level for the namespace
 |      of this element's class and object reference.  A value of boolean ``True``
 |      indicates that the loglevel ``logging.INFO`` will be set for the logger,
 |      whereas the string value ``debug`` will set the loglevel to
 |      ``logging.DEBUG``.
 |
 |  engine
 |
 |  name
 |      String name of the :class:`~sqlalchemy.engine.interfaces.Dialect`
 |      in use by this :class:`Engine`.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  schema_for_object = <sqlalchemy.sql.schema._SchemaTranslateMap object>
 |      Provide translation of schema names based on a mapping.
 |
 |      Also provides helpers for producing cache keys and optimized
 |      access when no mapping is present.
 |
 |      Used by the :paramref:`.Connection.execution_options.schema_translate_map`
 |      feature.
 |
 |      .. versionadded:: 1.1
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  create(self, entity, **kwargs)
 |      Emit CREATE statements for the given schema entity.
 |
 |      .. deprecated:: 0.7 The :meth:`.Connectable.create` method is deprecated and will be removed in a future release.  Please use the ``.create()`` method on specific schema objects to emit DDL sequences, including :meth:`.Table.create`, :meth:`.Index.create`, and :meth:`.MetaData.create_all`.
 |
 |  drop(self, entity, **kwargs)
 |      Emit DROP statements for the given schema entity.
 |
 |      .. deprecated:: 0.7 The :meth:`.Connectable.drop` method is deprecated and will be removed in a future release.  Please use the ``.drop()`` method on specific schema objects to emit DDL sequences, including :meth:`.Table.drop`, :meth:`.Index.drop`, and :meth:`.MetaData.drop_all`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  dispatch = <sqlalchemy.event.base.ConnectionEventsDispatch object>
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sqlalchemy.log.Identified:
 |
 |  logging_name = None

In [0]:
sql_df = pd.read_sql('data',con=engine)

In [0]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Great Job!